QMainWindow {
    background-color: #272727;
    color: #ffffff;   
    text-align: center;
}

QWidget {
    background-color: #272727;
    color: #ffffff;
}

QPushButton {
    border:  2px solid #ffffff; 
    border-radius: 5px;
}

QLabel {
    font-family: 'Aller';
    text-align: center;
}